body{
    margin:0;
    font-family:Arial;
    background: linear-gradient(135deg,#a50044,#004d98);
    color:white;
}

h1{
    text-align:center;
}

form{
    text-align:center;
    margin:20px;
}

input,select,button{
    padding:10px;
    margin:5px;
}

table{
    margin:auto;
    background:white;
    color:black;
}